@model IEnumerable<WebFit.Models.Table_Buy>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 >ข้อมูลการซื้อ</h2>

<p>
    @Html.ActionLink("ซื้อคอร์สเพิ่ม", "Create")
</p>
<table id="myTable" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Table_Cost.Cost_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buy_Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buy_Stop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buy_Pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buy_Status)
            </th>
            <th></th>
          
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Table_Cost.Cost_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buy_Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Buy_Stop)
                </td>
                <td>
                    @if (item.Buy_Pic != null)
                    {
                        <img src="~/@item.Buy_Pic" style="height: 85px" class="img-rounded">
                    }
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.ID_Buy }) |
        @Html.ActionLink("Details", "Details", new { id=item.ID_Buy }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.ID_Buy })*@
                    @if (item.Buy_Status.Value)
                    {
                        <p>ยืนยันแล้ว</p>
                        
                    }
                    else
                    {<p >รอดำเนินการ</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
            </tr>

        }
    </tbody>


</table>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
