@model IEnumerable<WebFit.Models.Table_User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Tell)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Tell)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID_User }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID_User }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID_User })
            @Html.ActionLink("รายละเอียด", "Details", new { id = item.ID_User }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("ลบ", "Delete", new { id = item.ID_User }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
