@model WebFit.Models.Table_Cost

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Table_Cost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cost_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Cost }) |
    @Html.ActionLink("Back to List", "Index")
</p>
